@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}

:root {
  /* rem의 기준 */
  font-size: 10px;
}

.wrap {
  box-sizing: border-box;
}

/* 공통 */
ul {
  list-style: none;
}

a {
  text-decoration: none;
  /* color: #fff; */
}

/*  */
header {
  width: 100%;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 2rem;
  height: 13rem;
  margin: 0 auto;
  box-sizing: border-box;
  border: 1px solid #000;
}

header nav .logo {
  display: flex;
  align-items: center;
}

header nav a {
  font-family: "Inter", sans-serif;
  letter-spacing: -1px;
  color: #000;
}

header nav .logo h1 {
  font-family: "Inter", sans-serif;
  margin-left:1.5rem;
  font-size: 3rem;
  letter-spacing: -.3rem;
  font-weight: 400;
  line-height: .9;
  /* color: #009ee3; */
  /* 폰트색깔 고민중 */
  color: #000;
}

header nav .logo img {
  width: 50px;
  height: 50px;
}

header nav ul {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 2vw;
  flex: 1;
  box-sizing: border-box;
  margin: 0 auto;
}

header nav ul li{
  text-align: center;
  /* border: 1px solid #000; */
}

header nav ul>li a {
  position: relative;
  display: block;
  padding: 3px 15px;
  font-size: 2rem;
  font-family: Pretendard, sans-serif;

}

header nav ul li>a:hover:after {
  position: absolute;
  content: '';
  top: 0;
  left: -50%;
  transform: translateX(50%);
  width: 100%;
  height: 100%;
  /* background: rgba(255, 255, 255, .5); */
  background: #009ee3;
  opacity: .3;
  z-index: -1;
  animation: after .5s;
}

header nav .btns{
  display: flex;
  align-items: center;
  gap: 3rem;
}

header nav .btns a span{
  font-size: 30px;
}







/* ------------------------------ */

@keyframes after {
  0%{
    transform: translateX(0) scaleX(0)
  }
  100%{
    transform: translateX(50%) scaleX(1)
  }
  
}
.section1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url(../images/bgimage.jpg) center/cover no-repeat;
  z-index: -2;
}

@media screen and (max-width: 1148px) {
  :root {
    /* rem의 기준 */
    font-size: 8px;
  }

  header nav {
    padding: 0 15px;
  }

  header nav .logo img {
    width: 50px;
    height: 50px;
  }

  header nav ul {
    justify-content: flex-end;
  }

}