@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}

:root {
  /* rem의 기준 */
  font-size: 10px;
}

.wrap {
  box-sizing: border-box;
}

/* 공통 */
ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-family: Pretendard, sans-serif;
}

header {
  width: 100%;
}

header nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 4rem;
  height: 10rem;
  margin: 0 auto;
  box-sizing: border-box;
  background-image: linear-gradient(rgba(64, 64, 64, 0.90), transparent);
  transition: .5s;
}

header nav .logo {
  display: flex;
  align-items: center;
}

header nav a {
  font-family: "Inter", sans-serif;
  letter-spacing: -1px;
  color: #000;
}

header nav .logo h1 {
  font-family: "Inter", sans-serif;
  margin-left: 1.5rem;
  font-size: 3rem;
  letter-spacing: -.2rem;
  font-weight: 400;
  line-height: .9;
  color: #fff;
  transition: .5s;
}

header nav .logo img {
  width: 50px;
  height: 50px;
  filter: brightness(0) invert(1);
}

header nav .mainMenu {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 2vw;
  flex: 1;
  box-sizing: border-box;
}

header nav .mainMenu li {
  text-align: center;
}

header nav .mainMenu>li a {
  position: relative;
  display: block;
  padding: 3px 15px;
  font-size: 2.3rem;
  font-family: Pretendard, sans-serif;
  font-weight: 600;
  color: #fff;
  transition: .3s;
}

header nav .mainMenu li.on>a:after {
  position: absolute;
  content: '';
  top: 0;
  left: -50%;
  transform: translateX(50%);
  width: 100%;
  height: 100%;
  background: #009ee3;
  opacity: .3;
  z-index: 0;
  animation: after .5s;
}

header nav .subMenu {
  opacity: 0;
  position: absolute;
  display: flex;
  width: 100%;
  height: 350px;
  left: 0;
  top: 100%;
  font-family: Pretendard, sans-serif;
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.12);
  z-index: -2;
}

header nav .sub5 {
  height: 650px;
}

header nav .subMenu.on {
  transition: .3s linear;
  opacity: 1;
  z-index: 1;
}

/* 배경깔기 */
header nav .subMenu>li {
  width: 25%;
  background-size: cover;
  background-position: center;
}

header nav .sub4,
header nav .sub5 {
  display: flex;
  background: #ffffff;
  box-sizing: border-box;

}

header nav .sub4 .left {
  width: 25%;
  background: #5C7259;
}

header nav .sub5 .left {
  width: 30%;
  background: #5C7259;
}

header nav .subMenu .left {
  position: relative;
  background: url(../images/bgimage.jpg) center/cover no-repeat;
  /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url(../images/bgimage.jpg) center/cover no-repeat; */
}

header nav .subMenu .left .text {
  position: absolute;
  right: 10%;
  top: 7.5rem;
  text-align: right;
  color: #000;
  font-size: 1.4rem;
  font-weight: 500;
}

header nav .subMenu .left .text h2 {
  margin-bottom: 1rem;
}

header nav .sub4 .right,
header nav .sub5 .right {
  border-top: 1px solid #ddd;
  display: flex;
  flex: 1;
  padding-top: 2rem;
  box-sizing: border-box;
}

header nav .sub5 .right {
  padding-right: 20rem;
}

header nav .sub5 .right {
  flex-wrap: wrap;
}

header nav .sub4 .right>li,
header nav .sub5 .right>li {

  transition: background .5s;
  box-sizing: border-box;
}

header nav .sub4 .right>li {
  flex: 1;
  padding: 3%;
}

header nav .sub5 .right>li {
  width: calc(100% / 3);
  padding: 3% 3% 2%;
}

header nav .sub4 .right h2 a,
header nav .sub5 .right h2 a {
  text-align: center;
  font-size: 2rem;
  padding: 1rem;
  margin-bottom: 2rem;
  letter-spacing: -1px;
  word-break: keep-all;
  border: 1px solid #5C7259;
  border-radius: 5rem;
  background: linear-gradient(to right, #5C7259 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: right;
  transition: all .35s ease-out;
  box-sizing: border-box;
}

header nav .sub4 .right li:hover h2 a,
header nav .sub5 .right li:hover h2 a {
  background-position: left;
  color: #fff;
}

header nav .sub4 .right li>a,
header nav .sub5 .right li>a {
  display: flex;
  justify-content: space-between;
  position: relative;
  font-size: 1.5rem;
  padding: .5rem 0 .5rem 2rem;
  box-sizing: border-box;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: .3s;
  overflow: hidden;
}

header nav .sub4 .right li>a:hover,
header nav .sub5 .right li>a:hover {
  color: #5C7259;
  border: 1px solid #5C7259;
}

header nav .sub4 .right li>a::after,
header nav .sub5 .right li>a::after {
  position: absolute;
  content: '\f061';
  color: #5C7259;
  font-size: 1.5rem;
  font-weight: 900;
  right: -2rem;
  top: 50%;
  transform: translateY(-50%);
  font-family: "Font Awesome 6 Free";
}

header nav .sub4 .right li>a:hover::after,
header nav .sub5 .right li>a:hover::after {
  right: 2rem;
  transition: .3s;
}

header nav .subMenu>li:not(:last-child) {
  border-right: .3px solid #ccc;
}

header nav .subMenu li a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

header nav .subMenu li a div {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 4rem;
  text-align: center;
  box-sizing: border-box;
  transition: padding-top .2s;
  background: #00000040;
  transition: .3s;
}

header nav .subMenu li:hover a div {
  padding-top: 0;
  background: #00000083;
}

header nav .subMenu li a div img {
  width: 60px;
  height: 60px;
  border: 1px solid #fff;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 50%;
}

header nav .subMenu li a div span {
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
}

header nav .btns {
  display: flex;
  align-items: center;
  gap: 3rem;
}

header nav .btns span {
  font-size: 30px;
  cursor: pointer;
  color: #fff;
}


/* hover 할때마다 클래스추가 */
header nav.on {
  background: #fff;
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.12);
}

header nav.on .logo img {
  filter: none;
}

header nav.on .logo h1,
header nav.on .mainMenu>li a,
header nav.on .btns span {
  color: #000;
}


/* ------------------------------ */


.section1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

/* 배경깔기 */
.section1 .container {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.section1 .movable {
  width: 100%;
  height: 100%;
  min-width: 120vw;
  min-height: 120vh;
  object-fit: cover;
  transition: transform 0.05s ease-out;
  will-change: transform;
}

.section1 ul {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 80%;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  border-top: 3px solid #fff;
}

.section1 ul li a {
  position: relative;
  color: #fff;
  display: flex;
  font-size: 2.5rem;
  padding: 7rem 12rem;
}

.section1 ul li a p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section1 ul li a p:first-child {
  background: #fff;
  width: 12rem;
  height: 12rem;
  padding: 1rem;
  margin-bottom: 1rem;
  box-sizing: border-box;
  border-radius: 50%;
  transition: .3s;
  top: -50%;
}

.section1 ul li:hover a p:first-child {
  top: 50%;
  z-index: 1;
}

.section1 ul li p img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  filter: brightness(1) invert(1);
}

.section1 #playPauseBtn {
  position: absolute;
  width: 5rem;
  height: 5rem;
  bottom: 3%;
  right: 2.5%;
  font-size: 5rem;
  color: #fff;
}

/* ------------------------------ */
@keyframes after {
  0% {
    transform: translateX(0) scaleX(0)
  }

  100% {
    transform: translateX(50%) scaleX(1)
  }
}

@media screen and (max-width: 1280px) {
  :root {
    /* rem의 기준 */
    font-size: 8px;
  }

  header nav {
    padding: 0 15px;
  }

  header nav .logo img {
    width: 50px;
    height: 50px;
  }

  header nav .mainMenu {
    justify-content: flex-end;
  }

  header nav .sub4,
  header nav .sub5 {
    padding: 0;
  }


  header nav .sub4 li>ul li a span,
  header nav .sub5 li>ul li a span {
    display: none;
  }

  header nav .sub4 li>ul li a,
  header nav .sub5 li>ul li a {
    padding: 1rem 2rem;
  }


  header nav .btns {
    display: flex;
    align-items: center;
    gap: 3rem;
  }
}

@media screen and (max-width: 1024px) {
  header nav .mainMenu {
    display: none;
  }
}